<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasDay3"
        tools:targetApi="31">
        <activity
            android:name=".KoneActivity"
            android:exported="false" />
        <activity
            android:name=".KregeraActivity"
            android:exported="false" />
        <activity
            android:name=".KjeskoActivity"
            android:exported="false" />
        <activity
            android:name=".KagerarsActivity"
            android:exported="false" />
        <activity
            android:name=".KageraActivity"
            android:exported="false" />
        <activity
            android:name=".PtaycanActivity"
            android:exported="false" />
        <activity
            android:name=".P718spyderrsActivity"
            android:exported="false" />
        <activity
            android:name=".P911carreraActivity"
            android:exported="false" />
        <activity
            android:name=".P718gt4rs"
            android:exported="false" />
        <activity
            android:name=".P911t3rsActivity"
            android:exported="false" />
        <activity
            android:name=".BcentodieciActivity"
            android:exported="false" />
        <activity
            android:name=".BlavoiturenoireActivity"
            android:exported="false" />
        <activity
            android:name=".BdivoActivity"
            android:exported="false" />
        <activity
            android:name=".BchironActivity"
            android:exported="false" />
        <activity
            android:name=".BveyronActivity"
            android:exported="false" />
        <activity
            android:name=".KoenigseggActivity"
            android:exported="false" />
        <activity
            android:name=".PorscheActivity"
            android:exported="false" />
        <activity
            android:name=".BugattiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>